{% extends 'main.html' %}
{% load widget_tweaks %}


{% block content %}

<h1>Adicionar Curso</h1>

{{ form.non_field_errors }}
<form action="." novalidate method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="uk-margin">
        {{ form.nome.errors }}
        {{ form.nome.label_tag }}
        {{ form.nome|add_class:'uk-input'}}
    </div>
    <div class="uk-margin">
        {{ form.num_vagas.errors }}
        {{ form.num_vagas.label_tag }}
        {{ form.num_vagas|add_class:'uk-input' }}
    </div>
    <div class="uk-margin">
        {{ form.file.errors }}
        {{ form.file.label_tag }}
        {{ form.file }}
    </div>
    <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary">Enviar</button>
    </div>
</form>

{% endblock content %}
